%nav.navbar.navbar-default{:style => "margin-bottom: 20px;"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button#menu-toggle.navbar-toggle{:type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar.bar1
        %span.icon-bar.bar2
        %span.icon-bar.bar3
      %a.navbar-brand{:href => root_path }
        Pasa Trade
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        -# %li= link_to "Home", root_path
          

        %li= link_to "Our products", "#"
        %li= link_to "Who we help", "#"
%br 